
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .not-found-heading {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ff0000; /* You can customize the color */
  }
  
  .not-found-text {
    font-size: 1rem;
    color: #333; /* You can customize the color */
  }
  
  .home-btn {
    background-color: red;
  }